<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>네일리티 </title>

    <!-- Bootstrap -->
    <link href="./vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="./vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- NProgress -->
    <link href="./vendors/nprogress/nprogress.css" rel="stylesheet">
    <!-- iCheck -->
    <link href="./vendors/iCheck/skins/flat/green.css" rel="stylesheet">
    <!-- bootstrap-wysiwyg -->
    <link href="./vendors/google-code-prettify/bin/prettify.min.css" rel="stylesheet">
    <!-- Select2 -->
    <link href="./vendors/select2/dist/css/select2.min.css" rel="stylesheet">
    <!-- Switchery -->
    <link href="./vendors/switchery/dist/switchery.min.css" rel="stylesheet">
    <!-- starrr -->
    <link href="./vendors/starrr/dist/starrr.css" rel="stylesheet">
    <!-- bootstrap-daterangepicker -->
    <link href="./vendors/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet">

    <!-- Custom Theme Style -->
    <link href="./build/css/custom.min.css" rel="stylesheet">
</head>
<div id="preloader">
    <div class="loader"></div>
</div>
<body class="nav-md">
<div class="container body">
    <div class="main_container">
        <div class="col-md-3 left_col">
            <div class="left_col scroll-view">
                <div class="navbar nav_title" style="border: 0;">
                    <a href="/" class="site_title"> <span>네일리티</span></a>
                </div>

                <div class="clearfix"></div>

                <!-- menu profile quick info -->
                <div class="profile clearfix">
                    <div class="profile_pic">
                        <img src="images/img.jpg" alt="..." class="img-circle profile_img">
                    </div>
                    <div class="profile_info">
                        <span>환영합니다,</span>
                        <h2><%=userID%></h2>
                    </div>
                </div>
                <!-- /menu profile quick info -->

                <br />

                <!-- sidebar menu -->
                <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                    <div class="menu_section">
                        <ul class="nav side-menu">
                            <li><a href="/"><i class="fa fa-home"></i> 홈 화면 </a>
                            </li>
                            <li><a><i class="fa fa-edit"></i> 회원관리 </a>
                                <ul class="nav child_menu">
                                    <li><a href="/member">회원 관리 </a></li>
                                </ul>
                            </li>
                            <li><a><i class="fa fa-desktop"></i> 예약 관리</a>
                                <ul class="nav child_menu">
                                    <li><a href="/appointment_calendar">예약 스케줄 </a></li>
                                    <li><a href="/end_appointment">예약 마감</a></li>
                                    <li><a href="/appointment">예약 검색</a></li>
                                </ul>
                            </li>
                            <li><a><i class="fa fa-table"></i> 시술 관리 </a>
                                <ul class="nav child_menu">
                                    <li><a href="/procedure">시술 관리 </a></li>
                                </ul>
                            </li>
                            <li><a><i class="fa fa-won"></i> 매출 관리 </a>
                                <ul class="nav child_menu">
                                    <li><a href="/add_profit">매출 등록 </a></li>
                                    <li><a href="/profit">매출 검색 </a></li>
                                </ul>
                            </li>
                            <li><a><i class="fa fa-envelope-o"></i> 회원권 관리 </a>
                                <ul class="nav child_menu">
                                    <li><a href="/edit_membership">회원권 관리 </a></li>
                                    <li><a href="/membership">회원권 검색 </a></li>
                                </ul>
                            </li>
                            <li><a href="/user"><i class="fa fa-user"></i> 관리자 승인 </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- /sidebar menu -->
            </div>
        </div>

        <!-- top navigation -->
        <div class="top_nav">
            <div class="nav_menu">
                <nav>
                    <div class="nav toggle">
                        <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                    </div>

                    <ul class="nav navbar-nav navbar-right">
                        <li class="">
                            <a href="javascript:" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                <img src="images/img.jpg" alt=""><%=userID%>
                                <span class=" fa fa-angle-down"></span>
                            </a>
                            <ul class="dropdown-menu dropdown-usermenu pull-right">
                                <li><a href="javascript:"> 회원정보 수정</a></li>
                                <li><a href="/logout"><i class="fa fa-sign-out pull-right"></i> 로그아웃 </a></li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        <!-- /top navigation -->

        <!-- page content -->
        <div class="right_col" role="main">
            <div class="">
                <div class="page-title">
                    <div class="title_left">
                        <h3>회원권 </h3>
                    </div>
                    <div class="clearfix"></div>

                </div>
                <div class="clearfix"></div>
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="x_panel">
                            <div class="x_title">
                                <h2>회원권 조회</h2>
                                <div class="clearfix"></div>
                            </div>

                            <div class="x_content">
                                <form class="form-horizontal form-label-left input_mask">
                                    <div class=" col-md-3 form-group has-feedback">
                                        <input type="text" class="form-control has-feedback-left" id="search_name" placeholder="회원 이름">
                                        <span class="fa fa-user form-control-feedback left" aria-hidden="true"></span>
                                    </div>

                                    <div class="col-md-4 form-group has-feedback">
                                        <input type="text" class="form-control has-feedback-left" id="search_phone" placeholder="휴대폰 번호">
                                        <span class="fa fa-phone form-control-feedback left" aria-hidden="true"></span>
                                    </div>

                                    <div class="col-md-3 form-group ">
                                        <div id="reportrange" class="form-control" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc">
                                            <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>
                                            <span></span> <b class="caret"></b>
                                        </div>
                                    </div>

                                    <div class="col-md-2 form-group has-feedback">
                                        <button class="btn btn-dark pull-left" id="btn_search" >검색하기</button>
                                    </div>
                                </form><br>
                                <div class="clearfix"></div>
                                <div class="table-responsive">
                                    <table class="table table-striped jambo_table bulk_action">
                                        <thead>
                                        <tr class="headings">
                                            <th class="column-title">회원권 ID </th>
                                            <th class="column-title">회원권 이름 </th>
                                            <th class="column-title">휴대폰 번호 </th>
                                            <th class="column-title">회원권 금액</th>
                                            <th class="column-title">유효 여부 </th>
                                            <th class="column-title">유효기간 </th>
                                            <th class="column-title">등록일 </th>
                                            <th class="column-title">사용 기록 </th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                            <%for(let i=0;i<membership.length;i++){
                                                const is_expired = membership[i].ms_is_expired ? "만료" : "유효";
                                            if(i%2===0){%>
                                            <tr class="even pointer">
                                            <%}else{%>
                                            <tr class="odd pointer">
                                            <%}%>
                                                <td class=" "><%=membership[i].ms_id%></td>
                                                <td class=" "><%=membership[i].member_data[0].member_name%></td>
                                                <td class=" "><%=membership[i].member_data[0].member_phone%></td>
                                                <td class=" "><%=membership[i].ms_init_value%></td>
                                                <td class=" "><%=is_expired%></td>
                                                <td class=" "><%=membership[i].ms_exp_date.getFullYear() + '년 '+ (membership[i].ms_exp_date.getMonth() + 1).toString() + '월 ' + membership[i].ms_exp_date.getDate() + '일 ' + membership[i].ms_exp_date.getHours() + '시 ' + membership[i].ms_exp_date.getMinutes() + '분 '%></td>
                                                <td class=" "><%=membership[i].created_at.getFullYear() + '년 '+ (membership[i].created_at.getMonth() + 1).toString() + '월 ' + membership[i].created_at.getDate() + '일 ' + membership[i].created_at.getHours() + '시 ' + membership[i].created_at.getMinutes() + '분 '%></td>
                                                <td class=" "><a target="_blank" class="btn btn-dark" href="/membership/<%=membership[i].ms_id%>?query=search">조회</a></td>
                                            </tr>
                                            <%}%>
                                        </tbody>
                                    </table>
                                    <div class="text-center"id="page-selection"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /page content -->

        <!-- footer content -->
        <footer>
            <div class="pull-right">
                네일리티 웹페이지 by KKI
            </div>
            <div class="clearfix"></div>
        </footer>
        <!-- /footer content -->
    </div>
</div>

<!-- jQuery -->
<script src="./vendors/jquery/dist/jquery.min.js"></script>
<!-- Bootstrap -->
<script src="./vendors/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- FastClick -->
<script src="./vendors/fastclick/lib/fastclick.js"></script>
<!-- NProgress -->
<script src="./vendors/nprogress/progress.js"></script>
<!-- bootstrap-progressbar -->
<script src="./vendors/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>
<!-- iCheck -->
<script src="./vendors/iCheck/icheck.min.js"></script>
<!-- bootstrap-daterangepicker -->
<script src="./vendors/moment/min/moment.min.js"></script>
<script src="./vendors/bootstrap-daterangepicker/daterangepicker.js"></script>
<!-- bootstrap-wysiwyg -->
<script src="./vendors/bootstrap-wysiwyg/js/bootstrap-wysiwyg.min.js"></script>
<script src="./vendors/jquery.hotkeys/jquery.hotkeys.js"></script>
<script src="./vendors/google-code-prettify/src/prettify.js"></script>
<!-- jQuery Tags Input -->
<script src="./vendors/jquery.tagsinput/src/jquery.tagsinput.js"></script>
<!-- Switchery -->
<script src="./vendors/switchery/dist/switchery.min.js"></script>
<!-- Select2 -->
<script src="./vendors/select2/dist/js/select2.full.min.js"></script>
<!-- Parsley -->
<script src="./vendors/parsleyjs/dist/parsley.min.js"></script>
<!-- Autosize -->
<script src="./vendors/autosize/dist/autosize.min.js"></script>
<!-- jQuery autocomplete -->
<script src="./vendors/devbridge-autocomplete/dist/jquery.autocomplete.min.js"></script>
<!-- starrr -->
<script src="./vendors/starrr/dist/starrr.js"></script>
<!-- Custom Theme Scripts -->
<script src="./vendors/bootpag/lib/jquery.bootpag.min.js"></script>
<script src="./js/custom/membership.js"></script>
<script src="./vendors/moment/min/moment.min.js"></script>
<script src="./vendors/moment/locale/ko.js"></script>
<script src="./vendors/bootstrap-daterangepicker/daterangepicker.js"></script>
<script src="./build/js/custom.js"></script>
<script type="text/javascript">
    const page_num = "<%=num%>"
</script>

</body>
</html>
