<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>네일리티 </title>

    <!-- Bootstrap -->
    <link href="./vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="./vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- NProgress -->
    <link href="./vendors/nprogress/nprogress.css" rel="stylesheet">
    <!-- iCheck -->
    <link href="./vendors/iCheck/skins/flat/green.css" rel="stylesheet">
    <!-- bootstrap-wysiwyg -->
    <link href="./vendors/google-code-prettify/bin/prettify.min.css" rel="stylesheet">
    <!-- Select2 -->
    <link href="./vendors/select2/dist/css/select2.min.css" rel="stylesheet">
    <!-- Switchery -->
    <link href="./vendors/switchery/dist/switchery.min.css" rel="stylesheet">
    <!-- starrr -->
    <link href="./vendors/starrr/dist/starrr.css" rel="stylesheet">
    <!-- bootstrap-daterangepicker -->
    <link href="./vendors/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet">

    <!-- Custom Theme Style -->
    <link href="./build/css/custom.min.css" rel="stylesheet">

    <link href="../vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="../vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="../vendors/nprogress/nprogress.css" rel="stylesheet">
    <link href="../vendors/iCheck/skins/flat/green.css" rel="stylesheet">
    <link href="../vendors/google-code-prettify/bin/prettify.min.css" rel="stylesheet">
    <link href="../vendors/select2/dist/css/select2.min.css" rel="stylesheet">
    <link href="../vendors/switchery/dist/switchery.min.css" rel="stylesheet">
    <link href="../vendors/starrr/dist/starrr.css" rel="stylesheet">
    <link href="../vendors/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet">

    <!-- Custom Theme Style -->
    <link href="../build/css/custom.min.css" rel="stylesheet">
    <style>
        .glow {
            font-size: 80px;
            color: #2398ff;
            text-align: center;
            -webkit-animation: glow 1s ease-in-out infinite alternate;
            -moz-animation: glow 1s ease-in-out infinite alternate;
            animation: glow 1s ease-in-out infinite alternate;
        }

        @-webkit-keyframes glow {
            from {
                text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
            }
            to {
                text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
            }
        }
    </style>
</head>

<body class="nav-md">
<div class="container body">
    <div class="main_container">
        <div class="">
            <div class="page-title">
                <div class="title_left">
                    <h3>회원 정보 </h3>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>회원 관리</h2>
                            <div class="clearfix"></div>
                        </div>

                        <div class="x_content">
                            <div class="table-responsive">
                                <table class="table table-striped jambo_table">
                                    <thead>
                                    <tr class="headings">
                                        <th class="column-title">선택</th>
                                        <th class="column-title">번호 </th>
                                        <th class="column-title">회원 이름 </th>
                                        <th class="column-title">휴대폰 번호</th>
                                        <th class="column-title">생성일 </th>
                                        </th>
                                        <th class="bulk-actions" colspan="7">
                                            <a class="antoo" style="color:#fff; font-weight:500;">회원 선택 <i class="fa fa-chevron-down"></i></a>
                                        </th>
                                    </tr>
                                    </thead>

                                    <tbody>
                                    <%for(var i=0;i<member.length;i++){
                                    if(i%2===0){%>
                                    <tr class="even pointer">
                                        <td class="a-center">
                                            <input type="radio" class="flat checkbox_member" name="table_records" id="<%=member[i].member_id%>">
                                        </td>
                                        <td class=" "><%=(parseInt(page)-1)*5+i+1%></td>
                                        <td class=" " id="name_<%=member[i].member_id%>"><%=member[i].member_name%></td>
                                        <td class=" "><%=member[i].member_phone%></td>
                                        <td class="a-right a-right "><%=member[i].created_at.getFullYear() + '년 '+ (member[i].created_at.getMonth() + 1).toString() + '월 ' + member[i].created_at.getDate() + '일 '%></td>
                                        </td>
                                    </tr>
                                    <%}else{%>
                                    <tr class="odd pointer">
                                        <td class="a-center ">
                                            <input type="radio" class="flat checkbox_member" name="table_records" id="<%=member[i].member_id%>">
                                        </td>
                                        <td class=" "><%=(parseInt(page)-1)*5+i+1%></td>
                                        <td class=" " id="name_<%=member[i].member_id%>"><%=member[i].member_name%></td>
                                        <td class=" "><%=member[i].member_phone%></td>
                                        <td class="a-right a-right "><%=member[i].created_at.getFullYear() + '년 '+ (member[i].created_at.getMonth() + 1).toString() + '월 ' + member[i].created_at.getDate() + '일 '%></td>
                                        </td>
                                    </tr>
                                    <%}}%>
                                    </tbody>
                                </table>
                                <button class="btn btn-dark alignright" id="btn_member">회원 선택</button>
                                <div class="text-center"id="page-selection"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>

            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>예약 기록</h2>
                            <div class="clearfix"></div>
                        </div>

                        <div class="x_content">
                            <div class="table-responsive">
                                <table class="table table-striped jambo_table" id="ap_table">
                                    <thead>
                                    <tr class="headings">
                                        <th class="column-title">번호 </th>
                                        <th class="column-title">회원 이름 </th>
                                        <th class="column-title">휴대폰 번호</th>
                                        <th class="column-title">시술 </th>
                                        <th class="column-title">불편 손님 여부 </th>
                                        <th class="column-title">예약일 </th>
                                        <th class="column-title">상세 </th>
                                    </tr>
                                    </thead>
                                    <tbody id="ap_tbody">
                                    </tbody>
                                </table>
                                <div class="text-center" id="page-selection"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- jQuery -->
<script src="./vendors/jquery/dist/jquery.min.js"></script>
<!-- Bootstrap -->
<script src="./vendors/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- FastClick -->
<script src="./vendors/fastclick/lib/fastclick.js"></script>
<!-- NProgress -->
<script src="./vendors/nprogress/nprogress.js"></script>
<!-- bootstrap-progressbar -->
<script src="./vendors/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>
<!-- iCheck -->
<script src="./vendors/iCheck/icheck.min.js"></script>
<!-- bootstrap-daterangepicker -->
<script src="./vendors/moment/min/moment.min.js"></script>
<script src="./vendors/bootstrap-daterangepicker/daterangepicker.js"></script>
<!-- bootstrap-wysiwyg -->
<script src="./vendors/bootstrap-wysiwyg/js/bootstrap-wysiwyg.min.js"></script>
<script src="./vendors/jquery.hotkeys/jquery.hotkeys.js"></script>
<script src="./vendors/google-code-prettify/src/prettify.js"></script>
<!-- jQuery Tags Input -->
<script src="./vendors/jquery.tagsinput/src/jquery.tagsinput.js"></script>
<!-- Switchery -->
<script src="./vendors/switchery/dist/switchery.min.js"></script>
<!-- Select2 -->
<script src="./vendors/select2/dist/js/select2.full.min.js"></script>
<!-- Parsley -->
<script src="./vendors/parsleyjs/dist/parsley.min.js"></script>
<!-- Autosize -->
<script src="./vendors/autosize/dist/autosize.min.js"></script>
<!-- jQuery autocomplete -->
<script src="./vendors/devbridge-autocomplete/dist/jquery.autocomplete.min.js"></script>
<!-- starrr -->
<script src="./vendors/starrr/dist/starrr.js"></script>
<!-- Custom Theme Scripts -->
<script src="./build/js/custom.min.js"></script>

<script src="../vendors/jquery/dist/jquery.min.js"></script>
<script src="../vendors/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="../vendors/fastclick/lib/fastclick.js"></script>
<script src="../vendors/nprogress/nprogress.js"></script>
<script src="../vendors/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>
<script src="../vendors/iCheck/icheck.min.js"></script>
<script src="../vendors/moment/min/moment.min.js"></script>
<script src="../vendors/bootstrap-daterangepicker/daterangepicker.js"></script>
<script src="../vendors/bootstrap-wysiwyg/js/bootstrap-wysiwyg.min.js"></script>
<script src="../vendors/jquery.hotkeys/jquery.hotkeys.js"></script>
<script src="../vendors/google-code-prettify/src/prettify.js"></script>
<script src="../vendors/jquery.tagsinput/src/jquery.tagsinput.js"></script>
<script src="../vendors/switchery/dist/switchery.min.js"></script>
<script src="../vendors/select2/dist/js/select2.full.min.js"></script>
<script src="../vendors/parsleyjs/dist/parsley.min.js"></script>
<script src="../vendors/autosize/dist/autosize.min.js"></script>
<script src="../vendors/devbridge-autocomplete/dist/jquery.autocomplete.min.js"></script>
<script src="../vendors/starrr/dist/starrr.js"></script>
<script src="../build/js/custom.min.js"></script>
<script src="../vendors/bootpag/lib/jquery.bootpag.min.js"></script>
<script src="../js/custom/search_member.js"></script>
<script type="text/javascript">
    const query = "<%=query%>";
    const page_num = "<%=num%>";
</script>

</body>
</html>
